*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  font-style: italic;
}

html, body {
  background: #000000;
  min-height: 100vh;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  line-height: 1.7;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
